@model IEnumerable<CarDealer.Services.Models.Supplier.OutputModels.ListAllSuppliersViewModel>
<h1>Search parts by supplier</h1>
<hr class="col-md-4 text-left" />
<form method="get" action="/Suppliers/DoSearch" class="col-md-5">
    <div>
        <h3>Supplier:</h3><input name="supplier" class="form-control" />
    </div>
    <hr />
    <input type="submit" class="btn btn-success float-right" value="Search" />
</form>

<table class="table table-striped table-hover table-sm table-bordered">
    <tr>
        <th>Supplier Name</th>
    <tr />
    @foreach (var supplier in this.Model)
        {
        <tr>
            <td>@supplier.Name</td>
        </tr>
        }
</table>
