@model IEnumerable<CarDealer.Services.Models.Parts.OutputModels.ListAllPartsServiceModel>

<div class="text-left">
    <h1 class="display-4">Parts</h1>
</div>
<table class="table table-striped table-hover table-sm table-bordered">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>SupplierName</th>
    </tr>
    @foreach (var part in this.Model)
    {
        <tr>
            <td>@part.Name</td>
            <td>@part.Price</td>
            <td>@part.Quantity</td>
            <td>@part.SupplierName</td>
        </tr>
    }
</table>
