<h1>Search Car by Make</h1>
<hr class="col-md-4 text-left"/>
<form method="get" action="/Cars/DoSearch" class="col-md-5">
    <div>
        <h3>Car make:</h3><input name="make" class="form-control" />
    </div>
    <hr />
    <input type="submit" class="btn btn-success float-right" value="Search" />
</form>